# Server configuration
SERVER_ADDR="localhost"
SERVER_PORT="8080"
SERVER_CORS_WHITELIST="*"
SERVER_CORS_ALLOWED_DEFAULT_METHODS="GET,POST,PATCH,PUT,DELETE,OPTIONS"

# Database configuration
PLATFORM_DATABASE_URI="postgres://postgres:postgres@host.docker.internal:5432/platform"
DATABASE_MAX_OPEN_CONNS="10"
DATABASE_CONN_MAX_LIFETIME_SEC="30"

# Logger configuration
LOG_LEVEL="info"
LOG_FORMAT="text"

# Access token private key configuration
# ACCESS_TOKEN_PRIVATE_KEY_FILE_PATH="access_token_private_key.pem"
ACCESS_TOKEN_PRIVATE_KEY="PRIVATE_KEY_BASE64"
ACCESS_TOKEN_ISSUER="auth.local"
ACCESS_TOKEN_AUDIENCE="api.local"
ACCESS_TOKEN_KID="ed25519-v1"
ACCESS_TOKEN_TYP="access+jwt"

# Secret master key configuration
SECRET_MASTER_KEY="SECRET_MASTER_KEY_BASE64"

# Database tenants database endpoint configuration
TENANTS_DATABASE_PUBLIC_BASE_HOST="localhost.sslip.io"
TENANTS_DATABASE_PUBLIC_PORT="5432"

# Telemetry endpoint configuration
TELEMETRY_PROMETHEUS_URI="http://localhost:9090"
TELEMETRY_PROMETHEUS_QUERY_TIMEOUT_SEC="10"
TELEMETRY_PROMETHEUS_USERNAME=""
TELEMETRY_PROMETHEUS_PASSWORD=""
TELEMETRY_PROMETHEUS_BEARER_TOKEN=""